* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #F9F7F5;
}

.work {
    width: 100%;
    height: 100vh;
    max-width: 1200px;
    margin: auto;
}

.work-content {
    position: relative;
    width: 100%;
    margin: auto;
    top: 25%;
    display: flex;
    justify-content: center;
}

.work-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.deco {
    width: 380px;
    height: 790px;
    border-radius: 279.127px;
    border: 4px solid var(--Color-gold, #B59E75);
    position: absolute;
}

.img-content {
    position: absolute;
    width: 100%;
    max-width: 700px;
    right: 22%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-content img {
    position: absolute;
    width: 100%;
    opacity: 0; 
    transition: opacity 1s;
    
}

.img-content img.active {
    opacity: 1; 
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
}

.cta {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}